* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #111;
  font-family: 'Roboto', sans-serif;
}

/* LAYOUT */

.wrapper {
  width: 100%;
  max-width: 760px;
  padding: 10px;
  margin: 0 auto;
}

.row,
[class*="span"] {
  width: 100%;
}

/* TYPE */
h1,h2,h3,h4,h5 {
  font-family: "Raleway", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
  font-weight: 200;
}

h4,h5,p,li { font-family: Helvetica, Arial, sans-serif; }

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 1.4em;
}

h2,h3 { font-weight: 600; }


h4,h5,h6 {
  font-weight: normal;
}

h5 {
  font-size: .6em;
  color: #AAA;
}

p, ul, ol {
  font-size: .95em;
  line-height: 1.6em;
  color: #666;
}

ul {
  padding-left: 15px;
}

ul.unstyled {
  padding-left: 0;
}

ul.unstyled li {
  list-style: none;
}

a {
  color: #ea2a45;
  text-decoration: none;
}

h1 a { color: inherit; }

.heading-title {
  padding-bottom: 10px;
}

pre, code {
  font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
}

pre {
  padding: 10px;
  font-size: .9em;
  line-height: 1.5em;
}

/* HELPERS */

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.clear {
  clear: both;
}

.unstyled { padding-left: 0; }
.unstyled li { list-style: none; }
.unstyled li li { padding-left: 10px; }

.horizontal li {
  display: inline-block;
}


@media (min-width: 479px) {

}

@media (min-width: 767px) {

  [class*="span"] {
    float: left;
    padding-left: 40px;
  }

  .span-lead {
    padding-left: 0;
  }

  .span1 {
    width: 12.5%;
  }
  .span2 {
    width: 25%;
  }
  .span3 {
    width: 37.5%;
  }
  .span4 {
    width: 50%;
  }
  .span5 {
    width: 62.5%;
  }
  .span6 {
    width: 75%;
  }
  .span7 {
    width: 87.5%;
  }
  .span8 {
    width: 100%;
  }

}

@media (min-width: 1023px) {

}

/* Header Styles */

header h1 {
  margin: 0;
}
header h4 {
  margin-top: 0;
}

/* Bio Styles */

.bio {
  font-size: .9em;
  color: #333;
}

/* Post Styles */

.posts { margin-top: 5px; }

.post__summary {
  padding: 10px 0;
  border-bottom: 1px solid #DDD;
}

.post-wrapper { padding-top: 40px; }

.post h3 {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #DDD;
}

.postfooter {
  margin: 40px 0 20px;
}

.meta {
  font-size: .85em;

}
.metasplit {
  padding-left: 5px;
  margin-left: 5px;
  border-left: 1px solid #aaa;
}

.category {
  font-style: italic;
}

/* Footer Styles*/
footer {
  margin: 20px 0;
  padding-top: 10px;
  border-top: 1px solid #DDD;
}
